services:
  dns-service:
    # build: .
    image: ghcr.io/buildplan/dns-service:latest
    container_name: dns-service
    restart: unless-stopped
    user: "node"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    ports:
      - "127.0.0.1:5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 128M
